.log-container {
    user-select: none;
    white-space: pre-wrap;
    margin: 0.5rem;
    width: 100%;
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: hidden;
}

.log-container::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

.log-container::-webkit-scrollbar-thumb {
    background-color: #3f3f3f;
    border-radius: 3px;
}

.log-container::-webkit-scrollbar-thumb:hover {
    background-color: #4c4b4b;
}

.log-container button {
    height: 70%;
    width: 150px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #808080;
    transition: all 0.3s ease;
}
  
.log-container span {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
}

.log-container button:hover {
    color: #fff;
    border: 2px solid #3a3a3a
}
  