/* 状态栏区域 */
.status-container {
    width: 100%;
    height: 24px;
    border-top: 1px solid #2B2B2B;
    overflow: hidden;
    display: flex;
    align-items: center;
    user-select: none; /* 禁止选中文字 */
}

.status-container span {
    font-size: small;
    color: rgb(128, 128, 128);
    margin-left: 20px;
}
