.tools-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.tools {
    flex: 1;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    border-right: 1px solid #2B2B2B;
}

.tools button {
    width: 80%;
    height: 35px;
    display: flex;
    padding: 0.5rem 1.2rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgb(155, 155, 155);
    gap: 0.75rem;
    color: rgb(219, 219, 219);
    background-color: #343434;
    cursor: pointer;
    transition: all .6s ease;
}

.tools button svg {
    height: 24px;
    width: 24px;
    flex-shrink: 0; /* 禁止收缩 */
}

.tools button svg path {
    fill: #cacaca;
}

.tools span {
    white-space: nowrap;        /* 防止文字换行 */
    overflow: hidden;           /* 隐藏超出部分的文字 */
    text-overflow: ellipsis;    /* 超出部分用省略号表示 */
    font-family: "Consolas";
}

.tools button:hover {
    transform: scale(1.02);
}

/* 自定义图标的总区域 */
.customize-icon-container {
    flex: 1;
    min-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* 显示图标区域 */
.show-icon-container {
    height: 100%;
    aspect-ratio: 1/1;        /* 保证图标保持比例，不变形 */
    border:1px solid #333333;
    display: flex;
    flex-shrink: 0; /* 禁止收缩 */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgba(29, 31, 32, 0.904)
    radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%);
    background-size: 11px 11px;   
}

.range-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.range-input span {
    font-family: "Consolas", "Microsoft YaHei UI";
}

input[type="range"] {
    width: 40%;
}

.customize-icon-button-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    overflow: hidden;
    text-align: center;
}

.customize-icon-button-container button {
    text-align: center;
    width: 85%;
    height: 30px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    transition: all 0.5s;
    color: #FFFFFF;
    background-color: #333333;
}

.customize-icon-button-container button:hover {
    transform: scale(1.02);
}

.customize-icon-button-container button:active {
    transform: scale(0.95);
}

.customize-icon-button-container button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: "Consolas", "Microsoft YaHei UI";
    font-size: 0.875rem;
}

.customize-icon-button-container button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.customize-icon-button-container button:hover span {
    padding-right: 15px;
}

.customize-icon-button-container button:hover span:after {
    opacity: 1;
    right: 0;
}


.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 80%;
}
  
.coolinput label.text {
    font-size: 0.75rem;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #181818;
    width: fit-content;
}
  
.coolinput input[type=text].input {
    box-sizing: border-box;
    width: 100%;
    color: #cacaca;
    padding: 10px;
    font-size: 0.75rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #181818;
}
  
.coolinput input[type=text].input:focus {
    outline: none;
}